include ../mixins/control
include ../mixins/progress

div#order-invoice
  div.row
    div.col-md-12
      +progress(50)
  div.row
    div.col-md-6
      form(role='form' autocomplete='on')
        fieldset
          div.row
            div.col-md-6
              +control('firstName', 'Vorname')(type='text',
                placeholder='Max', required='required')
            div.col-md-6
              +control('lastName', 'Nachname')(type='text',
                placeholder='Mustermann', required='required')
          div.row
            div.col-md-12
              +control('company', 'Unternehmen')(type='text',
                placeholder='satisfeet')
          div.row
            div.col-md-12
              +control('email', 'Email')(type='email',
                placeholder='you@satisfeet.me', required='required')
          div.row
            div.col-md-8
              +control('address-street', 'Straße')(type='text',
                placeholder='Hauptstr.', required='required')
            div.col-md-4
              +control('address-streetNr', 'Nr.')(type='text',
                placeholder='4A', required='required')
          div.row
            div.col-md-6
              +control('address-place', 'Ort')(
                type='text', placeholder='Berlin', required='required')
            div.col-md-6
              +control('address-zipCode', 'Postleitzahl')(
                type='number', placeholder='12345', required='required',
                min='10000' max='99999')
        button.btn.btn-sm.btn-primary Forfahren
    div.col-md-6
      h4.text-center Rechnungsinformationen
      p.text-justify
        | Bitte tragen Sie hier Ihre Rechnungsinformationen ein. Sie bekommen
        | eine vorläufige Rechnung per Email auf die hier bestimmten
        | Informationen. In der Warensendung ist zustäzlich eine gedruckte
        | Rechnung vorhanden.
