mixin control(name, label)
  div.form-group
    label.control-label(for=name)= label
    input.form-control(id=name, name=name, type!=attributes.type,
      value!=attributes.value, min!=attributes.min, max!=attributes.max,
      required!=attributes.required, placeholder!=attributes.placeholder)
