div#product-info(data-id=product && product._id)
  div.col-md-6
    div.thumbnail
      img.responsive(src=product && product.images.main.path)
  div.col-md-6
    div.col-md-8.col-md-offset-2
      h3.headline-lg.text-center #{product && product.name}
      p.paragraph-md.text-justify #{product && product.description.extended}
    hr
    ul.list-md.list-unstyled.text-right
      if product
        each element in product.elements
          li #{element}
    hr
    form(role='form')
      div.form-group
        div.row
          div.col-md-8.col-md-offset-2
            div.input-group
              input#quantity.form-control.input-sm(type='number' name='quantity', value=1)
              span.input-group-btn
                button.btn.btn-sm.btn-primary
