li.col-md-3(data-id=product._id)
  h4.text-center= product.name
  a.thumbnail(href='/products/' + product._id)
    img.img-rounded.img-responsive(src=product.images.main.path)
  div.row
    div.col-md-10.col-md-offset-1
      p.text-left= product.description.preview
  div.row
    div.col-md-11.col-md-offset-1
      p.lead.text-right= product.pricing.retail + '€'
